default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: <%= ENV.fetch("DB_USERNAME") { 'postgres' } %>
  password: <%= ENV.fetch("DB_PASSWORD") { 'postgres' } %>
  host: <%= ENV.fetch("DB_HOST") { 'my-first-db.crgoiumeg7kp.ap-southeast-2.rds.amazonaws.com' } %>
  port: <%= ENV.fetch("DB_PORT") { 5432 } %>

development:
  <<: *default
  database: wedding_booking_staging

test:
  <<: *default
  database: wedding-booking_test

staging:
  <<: *default
  database: <%= ENV.fetch("STAGING_DB_NAME") { 'wedding_booking_staging' } %>